.brickHolder > div  {
    width: 24%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
.brickHolder .leftColumn, .brickHolder rightmidColumn, brickHolder leftmidColumn {
    margin: 0 1% 0 0;
}